.maejok-chat-countdown-hide {
  display: none !important;
}

.maejok-chat-countdown-show {
  display: flex !important;
  z-index: 15 !important;
}

// chat
.maejok-chat_mode-chat {
  grid-column: 2/5 !important;
  grid-row: 1/6 !important;
  z-index: 10 !important;

  @include for-phone {
    top: 0 !important;
    left: 0 !important;
    z-index: 10 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
  }
}

// experience
.maejok-chat_mode-experience {
  position: absolute !important;
  grid-row: unset !important;
  z-index: 11 !important;
  bottom: 21px !important;
  left: 276px !important;

  @include for-phone {
    bottom: 18px !important;
    width: calc(100vw - 396px) !important;
  }

  @include for-small-phone {
    display: none !important;
  }
}

// presence
.maejok-chat_mode-presence {
  @include for-very-small-phone {
    display: none !important;
  }
}

// room selector
.maejok-chat_mode-room_select {
  margin-left: auto;
}

// logo
.maejok-chat_mode-logo {
  margin-left: 386px !important;
  margin-top: -23px !important;
}

// header
.maejok-chat_mode-header {
  z-index: 11 !important;

  @include for-phone {
    z-index: 0 !important;
    display: none !important;
  }
}

// admin
.maejok-chat_mode-admin {
  margin-left: 191px !important;
  margin-top: 11px !important;
}

// invite
.maejok-chat_mode-invite {
  margin-right: -30px !important;
  margin-top: -13px !important;
}

// room count
.maejok-chat_mode-chat_count {
  margin-left: 10px;
}

// header links
.maejok-chat_mode-links {
  visibility: hidden !important;
}
