.maejok-settings_mentions-list {
  display: flex;
  flex-flow: column;
  background-color: rgba($color-black, 0.65);
  padding: $space-sm;
  max-height: 45vh;
  max-width: 656px;
  overflow-y: scroll;
  margin: 0 (-$space-md) (-$space-sm) (-$space-md);
  font-family: Work Sans, sans-serif;
  user-select: text;
  text-transform: none;

  .chat-message-default_mentioned__EDIeq {
    background-color: unset !important;
  }
}
