.maejok-hide {
  display: none !important;
}

.maejok-hide_avatar-fix {
  top: 0 !important;
  position: relative !important;
}

.maejok-dense-chat {
  gap: 2px !important;
}

.maejok-tts-warning-text {
  color: red;
}

.maejok-tts-input-warning-border {
  border-color: red !important;
}

.maejok-hide-fonts {
  font-family: JetBrains Mono, monospace !important;
  font-size: 14px;
}

.maejok-dim-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.6);
  pointer-events: none;
  z-index: 999;
}

.maejok-normalize-message {
  color: #fff !important;
  font-weight: 300 !important;
  text-shadow: none !important;
  background-color: unset !important;

  .chat-message-default_mention__Ieq18 {
    color: #ffcf00 !important;
    font-weight: 400 !important;
  }
}

.maejok-timestamp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  margin-left: auto;
}

.maejok-timestamp-day {
  font-weight: 500;
  text-transform: uppercase;
  color: #28d97f;
  text-shadow: 2px 2px 0 rgba(27, 154, 89, .25);
  letter-spacing: -1.5px;
}

.maejok-timestamp-time {
  letter-spacing: -2px;
  font-size: 14px;
  white-space: nowrap;
  color: white;
}

.maejok-timestamp-time::before {
  color: #f8ec94;
  content: "[";
  text-shadow: 1px 1px 0 #000;
  margin-right: 4px;
}

.maejok-timestamp-time::after {
  color: #f8ec94;
  content: "]";
  text-shadow: 1px 1px 0 #000;
  margin-left: 4px;
}

.maejok-chatters_presence-container {
  text-align: center;
  cursor: pointer;
}

#maejok-chatters_online-presence-id{
  display: none !important;
}

.button-link {
  background: none;
  border: none;
  color: #11f8ff;
  cursor: pointer;
  font-weight: 700;
  padding: 0;
  font: inherit;
}

.maejok-logo_hide:hover {
  opacity: 0 !important;
}

.maejok-logo_hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}
.maejok-logo_hover:hover {
  opacity: 1;
}


.button-link:focus,
.button-link:hover,
.button-link:active {
  outline: none;
  background: none;
  border: none;
}

.maejok-hide-scan_lines::after {
  content: none !important;
}
