.chat_chat__2rdNg .chat_messages__2IBEJ {
  padding: 0;
  border: 0;
}
.chat-input_chat-input__OmyQV .chat-input_actions__V_ho0 {
  margin-left: 8px;
}

.chat_scroll__6Tqdf {
  cursor: pointer;
}

.chat-message-default_chat-message-default__JtJQL {
  margin-top: $space-xxs;
}

button.top-bar_clan-invite__Gv9N_ {
  left: calc(100% + 18px) !important;
}
