.maejok-settings_tab-panel {
  min-width: 490px;
  max-height: 100vh;
  margin-bottom: $space-md;
}

.maejok-settings_tab-bar {
  display: flex;
  margin-top: $space-sm;

  .maejok-settings_tab {
    .maejok-tab-button {
      flex: 1;
      border: none;
      cursor: pointer;
      width: 100px;
      text-transform: uppercase;

      button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        gap: 8px;
        cursor: pointer;
        color: #fff;
        background-color: rgba(43, 45, 46, .25);
        flex-grow: 1;
        border: 1px solid #505050;
        border-left: 0;
        border-radius: 0;
        font-weight: 400;
      }
    }
  }
}
