.maejok-settings_tab-panel {
  min-width: 490px;
  max-height: 100vh;
  margin-bottom: $space-md;
}

.maejok-settings_tab-bar {
  display: flex;
  gap: 8px;
  margin-top: $space-sm;

  .maejok-tab-button {
    display: flex;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent !important;
    border: 1px solid #505050;

    button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 8px;
      cursor: pointer;
      color: #fff;
      flex-grow: 1;
      border-left: 0;
      border-radius: 0;
      font-weight: 400;
    }

    &:hover {
      border: 1px solid #f8ec94;
      color: #f8ec94;
    }
  }
}
