@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

@keyframes glisten {
  0%,
  100% {
    box-shadow: 0 0 0 2px rgba($color-blue, 0.5);
  }
  50% {
    box-shadow: 0 0 0 2px rgba($color-black, 0.7);
  }
}
