$color-white: #ffffff;
$color-black: #000000;
$color-dark: #1d2127;
$color-red: #ff1d00;
$color-lightred: #ff3333;
$color-darkred: #bd0000;
$color-gray: #cbc6cb;
$color-slategray: #4c474b;
$color-darkgray: #2b2d2e;
$color-lightgray: #e1effc;
$color-blue: #0094ff;
$color-lightblue: #8fc8c2;
$color-teal: #32c0e0;
$color-lightteal: #55ffff;
$color-darkblue: #3f546b;
$color-green: #00ff05;
$color-brightgreen: #28d97f;
$color-darkgreen: #008800;
$color-graygreen: #55d5b4;
$color-yellow: #f8ec94;
$color-darkyellow: #f5cf65;
$color-orange: #d58f01;
$color-pink: #ff55ff;
$color-purple: #aa00aa;
$color-greenyellow: #d0ff00;
$color-beige: #a59c96;
